@font-face {
    font-family: "Adrianna-Regular";
    src: url("../../fonts/Adrianna-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Adrianna-BoldItalic";
    src: url("../../fonts/Adrianna-DemiboldItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Adrianna-Bold";
    src: url("../../fonts/Adrianna-Demibold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../../fonts/Nunito-Regular.ttf");
    font-weight: 400;
}
