@import "./assets/scss/style.scss";

.adrianna-regular {
    font-family: "Adrianna-Regular";
}

.adrianna-bold {
    font-family: "Adrianna-Bold";
}

.adrianna-bolditalics {
    font-family: "Adrianna-BoldItalic";
}

* {
    font-family: "Nunito-Regular";
}